<!DOCTYPE html>
<html  xmlns:ng="http://angularjs.org" ng-app>
<head>
	<style>
	h3 {cursor: hand}
	</style>
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css"/>
	<script src="http://code.jquery.com/jquery-1.8.2.js"></script>
	<script src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>
  <script src="taffydb/taffy.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js"></script>
<script>
function getRate(emp){
	var rates = {"jdennis":75, "qly":75, "kmitchell":75, "ibeiu":75, "nrahman":75, "zaguanno":75, "yshvets":75, "pmolnar":75, "dgelling":75, "syoung":75, "kwilcox":75, "pzabawa":75, "jrosen":75, "breichard":75, "zsong":75, "aallen":75, "dosborne":75, "sstewart":75, "aheld":75, "enordstrom":75, "egoldberg":75, "bgrimes":75}
	return rates[emp];
}

var worklogs = TAFFY();
var data;
function loadData(items){
	data=items;
	go(items);
}

var startedStart = new Date("2012-10-29".split("-"));
var startedEnd = new Date("2012-11-09".split("-"));
//bump startedEnd by a day for comparison later
startedEnd = new Date(startedEnd.getTime() + (3600 * 24 * 1000));

function go(data){
	data.issues.forEach(function(issue){
		log = {}
		log.project  = issue.key.split("-")[0];
		log.issuekey = issue.key;
//		console.log(issue.fields.worklog.total);
//		count +=  issue.fields.worklog.total;
		issue.fields.worklog.worklogs.forEach(function(worklog){
			//console.log(worklog);
			log.id        = worklog.id;
			log.employee  = worklog.author.name;
			log.timeSpentSeconds = worklog.timeSpentSeconds;
			log.hours = (log.timeSpentSeconds / 3600).toFixed(2);
			log.rate = getRate(log.employee); 
			log.cost = log.rate * log.hours;
			log.started = new Date(worklog.started);
			log.updated = worklog.updated;
			if ((log.started < startedEnd) && (log.started >= startedStart))  worklogs.insert(log);
		});
	});
	//console.log("Count: " + count)
}

function workLogCtrl($scope) {
	var projects = worklogs().distinct("project");
	var logs=[];
	projects.forEach(function(x){
		var query = worklogs({project:x}).order("employee");
		logs.push({project:x,
				   worklogs : query.get(),
				   cost: query.sum("cost"),
				   hours: (query.sum("timeSpentSeconds")/3600).toFixed(2)
				});
		})
  $scope.logs = logs;

	var employees = worklogs().distinct("employee");
	var timeLogged = []
	employees.forEach(function(x){
		var hours = (worklogs({employee:x}).sum("timeSpentSeconds")/3600).toFixed(2);
	    var tickets = worklogs({employee:x}).distinct("issuekey");
	    var link = "https://energyplus.atlassian.net/issues/?jql=key%20in%20(" + tickets.join('%2C') + ")";
	    timeLogged.push({name: x, hours:hours, link:link});
		})
 	$scope.timeLogged = timeLogged;
}

</script>
<!--
<script src="ticket-data.json"></script>
-->

<script src="https://energyplus.atlassian.net/rest/api/2/search?jql=updated%20%3E=%202012-10-29%20AND%20updated%20%3C=%202012-11-09&maxResults=1000&fields=worklog&jsonp-callback=loadData"></script>

</head>

<body>
<div  ng-controller="workLogCtrl">
	<div >



		<div ng-repeat="log in logs">
		<h3 onclick="$('#{{log.project}}').toggle('puff')">	
			{{log.project}} hours:{{log.hours}} cost: ${{log.cost}}
		</h3>
		<ul id="{{log.project}}" style="display: none;">
			<li ng-repeat="line in log.worklogs">
			<a target="issue" href="https://energyplus.atlassian.net/browse/{{line.issuekey}}?page=com.atlassian.jira.plugin.system.issuetabpanels:worklog-tabpanel">{{line.issuekey}}</a> - {{line.employee}} {{line.hours}} hours @ {{line.updated}}
			</li>
		</ul>
		</div>
	</div>
	<hr/>By Employee
	<div>
		<table><tr><th>Employee</th><th>Hours</th></tr>
		<tr ng-repeat="time in timeLogged">	
			<td>{{time.name}}</td><td><A href="{{time.link}}">{{time.hours}}</A></td>
		</tr>
	    </table>
	</div>
</div>
</body>
</html>